<footer>
    <div class="footer-container">
      <div class="footer-logo-cta-container">
        <div class="footer-logo-container">
          <a href="index.html"><img src="assets/logo/taborsq.svg" alt="Tabor's Q Logo" class="footer-logo"/></a>
        </div>
        <div class="footer-cta-container">
          <a href="#" class="footer-cta">Playlist of the week</a>
        </div>
  
      </div>
      <div class="footer-info">
        <h3>Get to know me</h3>
        <a href="mailto:oliver.tabor15@yahoo.com"><img src="assets/icons/social-icons/envelope.svg" class="social-icons"/></a>
        <a href="#"><img src="assets/icons/social-icons/spotify.svg" class="social-icons"/></a>
        <a href="#"><img src="assets/icons/social-icons/instagram.svg" class="social-icons"/></a>
        <a href="#"><img src="assets/icons/social-icons/facebook.svg" class="social-icons"/></a>
        <a href="#"><img src="assets/icons/social-icons/linkedin.svg" class="social-icons"/></a>
      </div>
      <div class="footer-nav-links">
        <li><a href="#">About Me</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Clients</a></li>
        <li><a href="#">Contact</a></li>
      </div>
    </div>
    <div class="footer-website_by">
      <p>Website designed and developed by <a href="https://jacoblisic.com">Jacob Lisic</a>.</p>
    </div>
   </footer>