<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/styles.css" rel="stylesheet" type="text/css" media="screen" />
    <title> {{ site.title }}</title>
    <meta http-equiv="Expires" content="30" />
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>

<header>
  <a href="index.html"><img src="assets/logo/taborsq.svg" alt="Tabor's Q Logo" class="nav-logo"/></a>
  <nav>
      <li><a href="#">About Me</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Clients</a></li>
      <li><a href="#">Contact</a></li>
  </nav>
  <div class="header-cta-container">
    <a href="#" class="cta">Playlist of the week</a>
  </div>
</header>

<section class="container about-me">
  <div class="intro-paragraph">
    <h1>Howdy, I'm Tabor.</h1>
    <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
    </p>
    <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
    </p>
  </div>
  <img src="assets/img/portrait.jpg" class="portrait" />
</section>

<section class="container services">
  <h2>Services</h2>
  <div class="row">
    <div class="col-lg-4">
      <img src="assets/icons/services-icons/play.svg" class="services-icons" />
      <h3>Restaurant Playlists</h3>
      <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups. </p>
    </div>
    <div class="col-lg-4">
      <img src="assets/icons/services-icons/headphones.svg" class="services-icons" />
      <h3>DJing</h3>
      <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups. </p>
    </div>
    <div class="col-lg-4">
      <img src="assets/icons/services-icons/music.svg" class="services-icons" />
      <h3>Weddings</h3>
      <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
    </div>
  </div>
</section>
<!--
<section>
  <h2>Clients</h2>
</section>
 -->
<section class="container contact">
  <h2>Contact</h2>
  <form method="POST" id="contactForm">
    <div class="form-field-group">
      <div class="form-div">
        <label for="firstname" class="form-label">Name</label>
        <input id="firstname" class="form-text" type="text" name="firstname"/>
      </div>
      <div class="form-div">
        <label for="lastname" class="form-label">Company</label>
        <input id="lastname" class="form-text" type="text" name="lastname"/>
      </div>
      <div class="form-div">
        <label for="email" class="form-label">Email</label>
        <input id="email" class="form-text" type="email" name="email"/>
      </div>
      <div class = "form-div">
        <label for="phonenumber" class="form-label">Phone Number</label>
        <input id="phonenumber" class="form-text" type="tel" name="phonenumber"/>
      </div>
        <label for="message" class="form-label">Description</label>
        <textarea id="message" class="form-text-desc" name="message" /></textarea>
      </div>
    </div>
    <input type="submit" class="submit-btn" value="Send Note" />
  </form>
 </section>

 <footer>
  <div class="footer-container">
    <div class="footer-logo-cta-container">
      <div class="footer-logo-container">
        <a href="index.html"><img src="assets/logo/taborsq.svg" alt="Tabor's Q Logo" class="footer-logo"/></a>
      </div>
      <div class="footer-cta-container">
        <a href="#" class="footer-cta">Playlist of the week</a>
      </div>

    </div>
    <div class="footer-info">
      <h3>Get to know me</h3>
      <a href="mailto:oliver.tabor15@yahoo.com"><img src="assets/icons/social-icons/envelope.svg" class="social-icons"/></a>
      <a href="#"><img src="assets/icons/social-icons/spotify.svg" class="social-icons"/></a>
      <a href="#"><img src="assets/icons/social-icons/instagram.svg" class="social-icons"/></a>
      <a href="#"><img src="assets/icons/social-icons/facebook.svg" class="social-icons"/></a>
      <a href="#"><img src="assets/icons/social-icons/linkedin.svg" class="social-icons"/></a>
    </div>
    <div class="footer-nav-links">
      <li><a href="#">About Me</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Clients</a></li>
      <li><a href="#">Contact</a></li>
    </div>
  </div>
  <div class="footer-website_by">
    <p>Website designed and developed by <a href="https://jacoblisic.com">Jacob Lisic</a>.</p>
  </div>
 </footer>

 <!-- <div class="play-button">
   <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1EjtgdpIRlrnzI" width="300" height="280" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
 </div> -->


  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,800|Rokkitt:800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">

  </body>
</html>
